<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzq.soeasy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- 分享权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lzq.soeasy.home.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lzq.soeasy.MainActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lzq.soeasy.getimage.GetImageActivity"
            android:label="@string/title_activity_get_image"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lzq.soeasy.returnimage.ReturnListActivity"
            android:label="@string/title_activity_back_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lzq.soeasy.returnimage.CategoryReturnActivity"
            android:label="@string/title_activity_back_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lzq.soeasy.category.CategoryActivity"
            android:label="@string/title_activity_category"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lzq.soeasy.imagedata.TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lzq.soeasy.getimage.CGetImageActivity"
            android:label="@string/title_activity_cget_image"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lzq.soeasy.updatesplash.UpdateDataActivity"
            android:label="@string/title_activity_update_data"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lzq.soeasy.info.InfoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lzq.soeasy.getimage.GetLocalActivity"
            android:label="@string/title_activity_get_local" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity
		  android:name="cn.sharesdk.framework.ShareSDKUIShell"
		  android:theme="@android:style/Theme.Translucent.NoTitleBar"
		  android:configChanges="keyboardHidden|orientation|screenSize"
		  android:screenOrientation="portrait"
		  android:windowSoftInputMode="stateHidden|adjustResize" >
		   <intent-filter>
		        <data android:scheme="tencent100371282" />
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>
		</activity>
		
        <!--微信分享回调 -->
			<activity
			  android:name=".wxapi.WXEntryActivity"
			  android:theme="@android:style/Theme.Translucent.NoTitleBar"
			  android:configChanges="keyboardHidden|orientation|screenSize"
			  android:exported="true"
			  android:screenOrientation="portrait" />

		<!--易信分享回调 -->
			<activity
			  android:name=".yxapi.YXEntryActivity"
			  android:theme="@android:style/Theme.Translucent.NoTitleBar"
			  android:configChanges="keyboardHidden|orientation|screenSize"
			  android:exported="true"
			  android:screenOrientation="portrait" />
    </application>

</manifest>
